
#contenedor{
    display: flex;
    border: 1px solid black;
    height: auto;
    overflow: hidden;
    padding: 50px;
    gap: 50px;
}
.caja1{
    /*background-color: bisque;*/
    width: 150px;
    height: 200px;
    /*margin: 50px;  /* Margen exterior *!*/
    padding: 25px;
/*    border: 5px solid black; /* ancho tipo(Solid, Dashed, Dotted) */
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 3px 3px 20px rgba(23,34,129,0.8);
}
