#contenedor{
    display: flex;
    border: 5px solid black;
    background-color: aquamarine;
}

#izq{
    background-color: yellow;
    width: 350px;
    height: 500px;
}

#der{
    display: flex;
    background-color: orange;
    width: 100%;
    height: 500px;
    gap: 25px;
    padding: 25px;
    justify-content: center;
}

.menuItem{
    background-color: blue;
    width: 150px;
    height: 45px;
    border-radius: 25px;
    color: white;
    text-align: center;
}

.activo{
    background-color: red;
}