#contenedor{
    display: grid;
    justify-content: center;
    grid-template-columns: 20% 80%;
    width: 100%;
    background-color: blue;
    overflow: hidden;
    padding: 10px;
}

.caja{
    display: flex;
    margin: 1px;
    background-color: aquamarine;
    width: auto;
    justify-content: center;
}


.c1{
    grid-row: span 2;
    height: 550px;
}
.c2{
    background-color: red;
    height: 50px;
}
.c3{
    background-color: ghostwhite;
    height: 430px
}
.c4{
    grid-column: span 2;
}