h1 {
    color: blue;
}

p {
    color: green;
}

.parrafo {
    color: red;
}

#parrafo {
    color: pink;
}

#data {
    width: 500px;
    border: 1px solid black;
    color: blue;
}

#data tr {
    background-color: bisque;
}

#data tr:hover {
    background-color: chocolate;
}