#Estructura{
    border: 1px solid black;
    width: 100%;
    height: auto;
}

#Encabezado{
    width: 100%;
    background-color: antiquewhite;
    border: 1px solid black;
    /*height: 20%;*/
    height: 120px;
}

#Contenido{
    width: 100%;
    background-color: gainsboro;
    border: 1px solid black;
    /*height: 80%;*/
    height: 400px;
}

#Pie{
    width: 100%;
    background-color: bisque;
    border: 1px solid black;
    /*height: 20%;*/
    height: 100px;
}

#nav1{
    width: 25%;
    /*width: 250px;*/
}

#menu{
    width: 100%;
    text-align: center;
}

#Contenido #Publicaciones{    
    width: 100%;
    height: 100%;
    text-align: center;
}

#Contenido #Publicaciones tr td{
    border: 1px solid black;    
}
